<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>BMI Calculator</title>
</head>
<body>
<div id="app">
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"><img src="images/BMICLogo.png" alt=""></div>
                <div class="col-sm-5">
                    <p>身高 cm</p>
                    <input class="tall" type="text" placeholder="請輸入身高" v-model="tallValue">
                    <p>體重 kg</p>
                    <input class="weight" type="text" placeholder="請輸入體重" v-model="weightValue"><em></em>
                </div>
                <div class="col-sm-4">
                     <div class="default" v-if="showDefaultBtn"><a href="#" @click.stop.prevent="calBMI">看結果</a></div>
                     <div class="result" :class="colorClass" v-if="showResultBtn">
                        <p class="bmiVal">{{bmiValClassContent}}</p>
                        <p class="bmi">BMI</p>
                        <p class="range">{{rangeClassContent}}</p>
                        <a href="" :class="colorClass" @click.stop.prevent="restoreInitial"><img src="images/icons_loop.png" alt=""></a>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <h3>BMI 紀錄</h3>
            <div class="delAll" ><a href="#" @click="delAllItem" v-if="delAll">全部刪除</a></div>
            <div class="data">
              
                <template v-for="(item,index) in dataArray">     
                    <div class="row" :class="item.colorData" >
                        <div class="threePoint" @click="showAndDelBtn(index,$event)">
                            <a class="showBtn" href="#">⋮</a>
                            <div class="hideBtn"><a class="delA" href="#">刪除</a></div>
                        </div>
                        <div class="col-sm-2 not">{{item.rangeData}}</div>
                        <div class="col-sm-2"><em>BMI</em>{{item.BMIData}}</div>
                        <div class="col-sm-3"><em>weight</em>{{item.weightData}}</div>
                        <div class="col-sm-3"><em>height</em>{{item.tallData}}</div>
                        <div class="col-sm-2">{{item.todayData}}</div>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <div id="footer">
        <img src="images/BMICLogo.png" alt="logo">    
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/all.js"></script>

</body>
</html>
